* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 100px 0 30px;
}

.subtitle {
  font-size: 1.5em;
}

.url-form {
  margin: 10px 0;
}

#url-subtitle {
  margin: 150px 0 10px;
}

.hidden {
  display: none;
}

#youtube-video-title {
  margin: 20px 0;
}

.form-button {
  margin: 0 20px 75px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: lightgrey;
}

.track-final-field {
  font-size: 1.2em;
}

.track-link {
  font-size: 2em;
  line-height: 60%;
}

#download-all-form {
  display: inline;
  height: 30px;
  width: 100px;
}

.tracklist-control-button {
  margin: 0 20px 20px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: lightgrey;
}
