* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url('../images/vinyl3.jpg');
  background-repeat: no repeat;
  background-size: cover;
}

#darkening-layer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 100px 0 0;
  letter-spacing: 0.1em;
}

#main-subtitle {
  margin: 0 0 20px;
  font-size: 1.75em;
  font-weight: 700;
  word-spacing: 1.25em;
  letter-spacing: 0.25em;
}

.subtitle {
  font-size: 1.5em;
}

.url-form {
  margin: 10px 0;
}

#url-subtitle {
  margin: 150px 0 10px;
}

.hidden {
  display: none;
}

#youtube-video-title {
  margin: 20px 0;
}

.form-button {
  margin: 0 20px 75px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
}

.track-final-field {
  font-size: 1.2em;
}

.track-link {
  font-size: 2em;
  line-height: 60%;
}

#download-all-form {
  display: inline;
  height: 30px;
  width: 100px;
}

.tracklist-control-button {
  margin: 0 20px 20px;
  height: 30px;
  width: 150px;
  border-radius: 5px;
  background-color: lightgrey;
}

.track-final-field {
  color: black;
}

table {
  background-color: white;
}

th {
  background-color: darkgrey;
}

th,
td {
  text-align: center;
  color: black;
}

button {
  color: black;
}

.delete-button {
  width: 25px;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
}

.video-image {
  margin: 0 auto;
  height: 300px;
  width: 524px;
  bottom: 12px;
  background-color: lightgrey;
}

img {
  position: relative;
  top: 6px;
}
